.profile {
  border: 3px solid #353030;
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: #353030;
  margin-bottom: 10px;
  margin: 0 auto;
}

.name {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.tag {
  text-align: center;
  color: gray;
  font-size: 35px;
}

.location {
  text-align: center;
  color: gray;
  font-size: 35px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 206, 206);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  font-size: 24px;
}

.stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 3px solid #353030;
  width: 100%;
}

.stat:not(:last-child) {
  border-right: 3px solid #353030;
}

.stat span:nth-child(2) {
  font-weight: bold;
}


